.social-footer {
    height: 20px;;
    padding: 1rem;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-footer .social-footer-icons li:last-of-type {
    margin-right: 10px;
}

.social-footer .social-footer-icons .fa {
    font-size: 1.3rem;
    color: #fefefe;
}

.social-footer .social-footer-icons .fa:hover {
    color: #4a4a4a;
    transition: color 0.3s ease-in;
}
